{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="bibioteca">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% block titulo %}{{ titulo }}{% endblock %}
    </title>

    <!-- Bootstrap Core CSS -->
    {% block css %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/shop-homepage.css' %}" rel="stylesheet">
    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    {% block navbar %}
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'inicioApp' %}">Book's <span class="glyphicon glyphicon-play"></span><Biblioteca></Biblioteca></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    {% block enlaces %}
                    <li>
                        <a href="#">Tienda</a>
                    </li>
                    <li>
                        <a href="#">Servicios</a>
                    </li>
                    <li>
                        <a href="#">Contacto</a>
                    </li>
                    <li>
                        <a href="/gestionar">gestion de libros</a>
                    </li>
                    {% endblock %}
                </ul>

            <div class="navbar-right navbar-btn">
                <button class="btn btn-default"> ingresar  <span class="glyphicon glyphicon-user "></span></button>
            </div>
            </div>
            <!-- /.navbar-collapse -->

        </div>
        <!-- /.container -->
    </nav>

    {% endblock %}

    <!-- Page Content -->
    {% block contenido %}
    <div class="container">
        <div class="row">
                {% block aside %}
                <div class="col-md-3">
                    <p class="lead">Book's Store</p>
                    <div class="list-group">
                        {% block categorias %}
                        <a href="#" class="list-group-item">Categoria 1</a>
                        <a href="#" class="list-group-item">Categoria 2</a>
                        <a href="#" class="list-group-item">Categoria 3</a>
                        {% endblock %}
                    </div>
                </div>
                {% endblock %}


            <div class="col-md-9">
                {% block carousel %}
                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>
                {% endblock %}

                <div class="row">
                    {% block articulos %}

                    {% endblock %}
                </div>


            </div>

        </div>

    </div>

    {% endblock %}
    <!-- /.container -->

    {% block footer %}
    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; ASEISI  2017  </p>
                </div>
            </div>
        </footer>

    </div>

    {% endblock %}
    <!-- /.container -->

    <!-- jQuery -->
    {% block js %}
    <scprit src="{% static 'js/angular.min.js' %}"></scprit>
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/angular/main.js' %}"></script>

        <script>
        $('input').addClass('form-control');
        </script>
    {% endblock %}

</body>

</html>